body {
  font: 10px sans-serif;
  margin: 0;
  padding: 0;
}

select {
	min-width: 100px;
	margin-left: 10px;
	margin-right: 25px;
}

#container {
  text-align: center;
}

#selectionUI {
  display: inline-block;
}

.black {
  fill: black;
}