.country {
    /*fill: lightgray;*/
    stroke: darkgrey;
    stroke-width: 1px;
  } 
  .country:hover {
    fill: darkgrey;
  }
  
  .legend {
    font-size: 8px;
  }
  .country:active {
    fill: lightblue;
  }
  
  
  .hidden {
    display: none !important;
  }
  
  div.tooltip {
    color: #000000;
    background-color: #fff;
    border-width: 0.1px;
    border-style: solid;
    border-color: #000000;
    padding: .5em;
    border-radius: 5px;
    opacity: 0.9;
    position: absolute;
    font-family: "Lato", sans-serif;
  }
  
  